# Application
APP_ENV=development      # development | staging | production
APP_SECRET_KEY=


# DATABASE (Postgres)
PGHOST=postgres
PGPORT=5432
PGUSER=postgres
PGPASSWORD=@password_db
PGDATABASE=postgres
PGSSLMODE=disable       # disable | require | verify-full
DB_PORT_EXPOSE=5432     # Port lokal untuk development


# REDIS
REDIS_SECRET=

# JWT
JWT_SECRET=

# Docker Registry
FRONTEND_IMAGE_TAG=latest
BACKEND_IMAGE_TAG=latest